html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    
    title #{title} - #{app.name}
    meta(name="description" content=app.description)
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keyword", content=app.keywords)

    style
      include static/css/custom.css

  body#page-top
    //- Body    
    block content
